<!-- <iframe src="http://127.0.0.1:8050/" frameborder="1" id="ifr1" name="ifr1" scrolling="yes"
  style="width: 100%;height: 700px;border:0px;">
  <p>Your Browser dose not support iframes</p>
</iframe> -->
<!-- <mat-tab-group>
  <mat-tab label="First"> Content 1 </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group> -->
<!-- <mat-card>
</mat-card> -->
<page-header class="bg-purple-500"></page-header>
<mat-tab-group>
  <mat-tab label="First"> Content 1 </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>