<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<div id="app">
  <span>阿婆主：{{ name }}</span>
  <input type="text" v-model="name">
  <span>更多：{{ more.link }}</span>
  <input type="text" v-model="more.link">
</div>
<script src="./vue.js"></script>
<script>
  const vm = new Vue({
    el: '#app',
    data() {
      return {
        name: 'ldq',
        more: {
          link: '一键三连'
        }
      }
    },
  })
  console.log(vm);
</script>

<body>

</body>

</html>